<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="floppyWriter" class="demo.c.FloppyWrite"/>
    <bean id="usbWriter" class="demo.c.UsbWrite"/>
    <bean id="business" class="demo.c.Business">
        <!--<property name="deviceWrite" ref="floppyWriter"/>-->
        <constructor-arg ref="usbWriter"/>
    </bean>
    <bean id="hello" class="demo.d.Hello">
        <property name="name" value="Tom"/>
    </bean>
</beans>